/sandBox.py
/sandboxDriver.py
/testFuncs.py
/testGitFile.py
/htmlcov/
/sandbox/
/AnalyzeGitLogFileAndCreateRpt.pyc
/analyzeOneFile.pyc
/Assignment.pyc
/AssignmentTotals.pyc
/CodeCoverage.pyc
/Commit.pyc
/CreateGitfileAnalysisReport.pyc
/DeletedLine.pyc
/FormattedGitLog.pyc
/GitFile.pyc
/GitHub.pyc
/Method.pyc
/PyFile.pyc
/PyFileCommitDetails.pyc
/sandboxDriver.pyc
/TATestCase.pyc
/Transformations.pyc
